.v-header{
    display: flex;
    align-items: center;
    
}
.v-gap{
    flex-grow: 1;
}
.v-close-btn{
    border: none;
    background-color: #fff;
    color: red;
}
.v-close-btn:hover{
    cursor: pointer;
    color: rgb(202, 5, 5);
}
h3{
    margin-left: 3rem;
    font-weight: 500;
}
.v-nogoal{
    text-align: center;
}
.vi-items{
    border-radius: 0.9em;
    padding: 1em;
    display: flex;
    box-shadow: 0 0 5px #000;
}
.vi-content{
    display: flex;
    flex-direction: column;
}
.vi-head{
    font-weight: bold;
}
.vi-name,.vi-time{
    margin-left: 3rem;
}
.vi-gap{
    flex-grow: 1;
}
.vi-btns{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.v-items{
    margin-left: 2rem;
}
.vi-close{
    border: none;
    color: red;
    cursor: pointer;
    background-color: inherit;
}
.vi-close:hover{
    color: rgb(201, 4, 4);
}
.vi-complete{
    border: none;
    color: rgb(87, 86, 86);
    cursor: pointer;
    background-color: inherit;
}
.vi-complete:hover{
    color: black;
}
